<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title>SB MARKETING</title>
    </head>
    <body>
        <div id="root" class="whole">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <img id="header-logo" src="img/logo-2.png" alt="">
                        </div>
                        <div class="col-sm-12 col-md-9 right-nav">
                            <div class="left-menu">
                                <ul>
                                    <li class="menu" v-for="menu in navMenu">
                                        <a href="#">{{menu}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="right-menu">
                                <a href="#"><i class="fas fa-search"></i></a>
                                <a href="#" id="cart-link">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span id="counter">{{cartCounter}}</span>
                                </a>
                                <button type="button" class="btn btn-primary black">Get Started</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- JUMBOTRON -->
            <section id="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 description">
                                        <h1>
                                            {{title}}
                                        </h1>
                                        <p>
                                            {{description}}
                                        </p>
                                        <button type="button" class="btn btn-primary read black">Read More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ONLINE MARKETING SECTION -->
            <section id="marketing">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 one"  v-for="market in marketings" @click="increaseCart">
                            <div class="">
                                <img :src="market.photo_path" alt="">
                            </div>
                            <div class="right-marketing">
                                <h3>{{market.title}}</h3>
                                <p>{{market.desc}}</p>
                                <ul>
                                    <li v-for="item in market.selection">
                                        <i class="fas fa-check"></i>
                                        {{item}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- TIPS AND TRICKS -->
            <section id="tips">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h2>Get tips tricks on how to skyrocket your sales</h2>
                            <p>Faff about only a quid bowler I don't want no agro bleeding chimney pot burke tosser cras nice one boot fanny.!</p>
                            <div class="abouts" v-for="tip in tips">
                                <div class="left-about">
                                    <img :src="'img/' + tip.photo_path + '.png'" alt="">
                                </div>
                                <div class="right-about">
                                    <h3>{{tip.title}}</h3>
                                    <p>{{tip.description}}</p>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img src="img/509.jpeg" alt="">
                        </div>

                    </div>

                </div>

            </section>

            <!-- FEATURES -->
            <section id="features">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <h2>Popular features that your business needs </h2>
                            <p>Faff about only a quid bowler I don't want no agro bleeding chimney pot burke tosser cras nice one boot fanny.!</p>
                        </div>
                        <div class="col-sm-12 col-md-4 feature-btn">
                            <button type="button" class="btn btn-primary read black">Explore More Feature</button>
                        </div>
                    </div>
                    <div class="row boxes-container">
                        <div class="col-sm-12 col-md-3" v-for="feature in features">
                            <div class="box">
                                <h4>{{feature.name}}</h4>
                                <i class="icons" :class="[feature.icon, feature.color]" ></i>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

            <!-- TESTIMONIALS -->
            <section id="testimonials">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 offset-md-3 testi">
                            <h2>Our Testimonials</h2>
                            <p>If you are planning on developing a product landing app or website, take a look at this beautiful-crafted</p>
                        </div>
                        <div class="col-sm-12 col-md-6 texti-box" v-if="index < 2">
                            <div class="testimonial">
                                <div class="founders">
                                    <img :src="'img/' + testimonials[index].photo_path +'.jpeg'" alt="">
                                </div>
                                <div class="text-box">
                                    <div class="name-position">
                                        <h5>{{testimonials[index].name}}</h5>
                                        <p>&nbsp - {{testimonials[index].position}}</p>
                                    </div>
                                    <p>{{testimonials[index].message}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 texti-box" v-if="index < 2">
                            <div class="testimonial">
                                <div class="founders">
                                    <img :src="'img/' + testimonials[index2].photo_path +'.jpeg'" alt="">
                                </div>
                                <div class="text-box">
                                    <div class="name-position">
                                        <h5>{{testimonials[index2].name}}</h5>
                                        <p>&nbsp - {{testimonials[index2].position}}</p>
                                    </div>
                                    <p>{{testimonials[index2].message}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="dots">
                            <span class="dot" @click="prevIndex"
                            :class="index == 0 ? 'active' : null"></span>
                            <span class="dot" @click="nxtIndex"
                            :class="index > 0 ? 'active' : null"></span>
                        </div>

                    </div>

                </div>

            </section>

            <!-- LATEST POST -->
            <section id="posts">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 post-title">
                            <h2>Latest Posts</h2>
                            <p>If you are planning on developing a product landing</p>
                        </div>
                        <div class="col-sm-12 col-md-4" v-for="post in posts">
                            <div class="each-post">
                                <img :src="'img/' + post.image + '.jpg'" alt="">
                                <div class="desc">
                                    <h5>{{post.title}}</h5>
                                    <p>{{post.desc}}</p>
                                </div>
                                <div class="date">
                                    {{post.date}}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section>

            <!-- CONTACTS -->
            <section id="contacts">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 contact-title">
                            <h2>Contact with our team</h2>
                            <p>If you are planning on developing a product landing</p>
                        </div>
                        <div class="col-sm-12 col-md-6 map">
                            <!-- <img src="img/map.png" alt=""> -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7077.1061673894765!2d-122.47559854173988!3d37.801933325160135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808586e6302615a1%3A0x86bd130251757c00!2sStorey%20Ave%2C%20San%20Francisco%2C%20CA%2094129%2C%20Stati%20Uniti!5e0!3m2!1sit!2sit!4v1606930720995!5m2!1sit!2sit" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            <!-- <div class="current-add">
                                <h6>Storey Ave</h6>
                                <p>San Francisco, California 94129</p>
                                <a href="#">Visualizza mappa più grande</a>
                            </div>
                            <div class="zoom">
                                <div class="zoom-in">
                                    +
                                </div>
                                <div class="zoom-out">
                                    -
                                </div>

                            </div> -->
                        </div>
                        <div class="col-sm-12 col-md-6 right-side">
                            <img src="img/35.png" alt="">
                            <div class="address">
                                <h6>9840 Shore St. Fond Du Lac, Wi 54935</h6>
                                <p>0 1223 456 789</p>
                                <p>mail@sofbox.com</p>
                            </div>
                            <div class="social-icons">
                                <a href="#"  v-for="icon in socialIcons">
                                    <i class="icon" :class="icon"></i>
                                </a>
                            </div>
                            <h6>Get in Touch</h6>
                            <div class="first-row-input">
                                <input type="text" placeholder="Your Name" class="name">
                                <input type="email" placeholder="Your Email" class="email">
                            </div>
                            <input type="text" placeholder="Your Subject" class="subject">
                            <textarea name="name" rows="8" cols="80" placeholder="Your Message"></textarea>
                            <button type="button" class="btn btn-primary read black">Send Message</button>

                        </div>

                    </div>

                </div>

            </section>
            <hr>

            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12- col-md-3">
                            <img src="img/35.png" alt="">
                            <p>It is a long established fact that a reader will be distracted by the readaable content</p>
                            <p>
                                copyright @ 2018 <a href="#">Sofbox</a>
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-3 right-foot" v-for="foot in footer">
                            <div class="">
                                <h6>{{foot.title}}</h6>
                                <ul>
                                    <li v-for="item in foot.submenu">
                                        <a class="links" href="#">{{item}}</a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>

                </div>
            </footer>
            <div class="arrow-cont">
                <div class="fixed-arrow" @click="scroll()">
                    <i class="fas fa-chevron-up"></i>
                </div>

            </div>
        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
