<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <meta charset="utf-8">
        <title>SB MARKETING</title>
    </head>
    <body>
        <div id="root">
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <img id="header-logo" src="img/logo-2.png" alt="">
                        </div>
                        <div class="col-sm-12 col-md-9 right-nav">
                            <div class="left-menu">
                                <ul>
                                    <li v-for="menu in navMenu">
                                        <a href="#">{{menu}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="right-menu">
                                <a href="#"><i class="fas fa-search"></i></a>
                                <a href="#" id="cart-link">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span id="counter">{{cartCounter}}</span>
                                </a>
                                <button type="button" class="btn btn-primary">Get Started</button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- JUMBOTRON -->
            <section id="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 description">
                                        <h1>
                                            {{title}}
                                        </h1>
                                        <p>
                                            {{description}}
                                        </p>
                                        <button type="button" class="btn btn-primary read">Read More</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ONLINE MARKETING SECTION -->
            <section id="marketing">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 one"  v-for="market in marketings" @click="increaseCart">
                            <div class="">
                                <img :src="market.photo_path" alt="">
                            </div>
                            <div class="right-marketing">
                                <h3>{{market.title}}</h3>
                                <p>{{market.desc}}</p>
                                <ul>
                                    <li v-for="item in market.selection">
                                        <i class="fas fa-check"></i>
                                        {{item}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- TIPS AND TRICKS -->
            <section id="tips">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h2>Get tips tricks on how to skyrocket your sales</h2>
                            <p>Faff about only a quid bowler I don't want no agro bleeding chimney pot burke tosser cras nice one boot fanny.!</p>
                            <div class="abouts" v-for="tip in tips">
                                <div class="left-about">
                                    <img :src="'img/' + tip.photo_path + '.png'" alt="">
                                </div>
                                <div class="right-about">
                                    <h3>{{tip.title}}</h3>
                                    <p>{{tip.description}}</p>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <img src="img/509.jpeg" alt="">
                        </div>

                    </div>

                </div>

            </section>

            <!-- FEATURES -->
            <section id="features">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <h2>Popular features that your business needs </h2>
                            <p>Faff about only a quid bowler I don't want no agro bleeding chimney pot burke tosser cras nice one boot fanny.!</p>
                        </div>
                        <div class="col-sm-12 col-md-4 feature-btn">
                            <button type="button" class="btn btn-primary read">Explore More Feature</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-3" v-for="feature in features">
                            <div class="box">
                                <h4>{{feature.name}}</h4>
                                <i class="icons" :class="feature.icon"></i>

                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
