* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10vh;
    padding: 20px;
}

header .container {
    height: 100%;
}


ul {
    list-style: none;
}

section {
    margin-bottom: 80px;
}

p {
    color: #8E989F;
}

.black:hover {
    background-color: #1E1E1E;
    border-color: #1E1E1E;
}

/* ++++HEADER+++++ */

#header-logo {
    max-width: 50px;
}

header li {
    display: inline-block;
    padding: 0 10px;
    margin-top: 12px;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
}

.right-menu {
    display: flex;
    align-items: center;
}

.left-menu {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.fas {
    padding: 0 10px;
}

.right-menu button {
    margin-left: 20px;
}

.right-menu a, .left-menu a {
    color: black;
}

#cart-link {
    position: relative;
}

#counter {
    background-color: #377DFF;
    color: white;
    border-radius: 50%;
    padding: 0 7px;
    position: absolute;
    top: -10px;
    right: -8px;
    z-index: -1;
}


/* +++++JUMBOTRON+++++ */

#jumbotron {
    height: 70vh;
    background-image: url("img/27-1.png");
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

#jumbotron::after {
    content: '';
    background-color: #F2F7FF;
    height: 80%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.description {
    padding: 100px 0;
}

.description p {
    margin-top: 10px;
}

h1 {
    font-size: 50px;
}

.read {
    padding: 15px 20px;
    margin-top: 30px;
}

/* ONLINE MARKETING SECTION */

#marketing {
    display: flex;
}

.one {
    display: flex;
    cursor: pointer;
}

.left-marketing {
    padding: 10px;
}

.right-marketing {
    padding: 10px 0;
}

.right-marketing li {
    margin-top: 10px;
}

.fa-check {
    color: #377DFF;
}

.right-marketing p {
    color: #8E989F;
}

h2 {
    margin-bottom: 20px;
}

.abouts {
    display: flex;
}

/* TIPS AND TRICKS */
.left-about {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-about {
    padding: 20px;
}

.abouts:hover {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(142,152,159,0.5);
}

.abouts:hover h3 {
    color: #377DFF;
}

/* FEATURES */

.feature-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 1px solid transparent;
    margin-top: 20px;
    padding: 30px 10px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    /* box-shadow: 2px 2px 2px rgba(142,152,159,0.5); */
}

.box:hover.box::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-bottom: 3px dotted #6CDAC1;
    border-right: 3px dotted #6CDAC1;
}

.box:hover.box::before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-bottom: 3px dotted #6CDAC1;
    border-right: 3px dotted #6CDAC1;
}

.box:hover {
    background-color: #6CDAC1;
    color: white;
}

.box:hover .icons {
    color: white;
}

h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.icons {
    font-size: 30px;
}
#features {
    position: relative;
}

.blue {
    color: #377DFF;
}

.green {
    color: #6CDAC1;
}

.red {
    color: #FF796D;
}

.boxes-container {
    background-color: #00000006;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

/* TESTIMONIALS */

#testimonials {
    background-color: #F2F7FF;
    position: relative;
}

#testimonials::before {
    content: '';
    background-image: url("img/15.png");
    position: absolute;
    top: -10%;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;


}

.texti-box {
    width: 100%;
    padding: 40px;
}

.text-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.testi {
    text-align: center;
    margin-bottom: 20px;
}

.name-position {
    display: flex;
    justify-content: space-around;
}

.founders {
    text-align: center;
}

.founders img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.testimonial {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 2px 2px rgba(142,152,159,0.5);
}

#testimonials span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

#testimonials .row {
    position: relative;
}

.dots {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

/* LATEST POSTS */

.post-title {
    text-align: center;
}

.each-post {
    width: 90%;
    min-height: 300px;
    border: 1px solid #00000008;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
}

.each-post img {
    max-width: 90%;
    margin-bottom: 15px;
}

.desc {
    text-align: left;
    padding: 0 15px;
}

.desc p {
    margin-top: 10px;
}
