* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10vh;
    padding: 20px;
}

header .container {
    height: 100%;
}


ul {
    list-style: none;
}

/* ++++HEADER+++++ */

#header-logo {
    max-width: 50px;
}

header li {
    display: inline-block;
    padding: 0 10px;
    margin-top: 12px;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
}

.right-menu {
    display: flex;
    align-items: center;
}

.left-menu {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.fas {
    padding: 0 10px;
}

.right-menu button {
    margin-left: 20px;
}

.right-menu a, .left-menu a {
    color: black;
}

#cart-link {
    position: relative;
}

#counter {
    background-color: #377DFF;
    color: white;
    border-radius: 50%;
    padding: 0 7px;
    position: absolute;
    top: -10px;
    right: -8px;
    z-index: -1;
}


/* +++++JUMBOTRON+++++ */

#jumbotron {
    height: 70vh;
    background-image: url("img/27-1.png");
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

#jumbotron::after {
    content: '';
    background-color: #F2F7FF;
    height: 80%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.description {
    padding: 100px 0;
}

.description p {
    margin-top: 10px;
    color: #8E989F;
}

h1 {
    font-size: 50px;
}

.read {
    padding: 15px 20px;
    margin-top: 30px;
}

/* ONLINE MARKETING SECTION */

#marketing {
    display: flex;
}

.one {
    display: flex;
}

.left-marketing {
    padding: 10px;
}

.right-marketing {
    padding: 10px 0;
}

.right-marketing li {
    margin-top: 10px;
}

.fa-check {
    color: #377DFF;
}

.right-marketing p {
    color: #8E989F;
}
